.home-section {
    padding: 30px 0 30px 0;
  }

/* text */
h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 400;
  }
  
  body {
    color: #333;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  /* home page */
  
  .portrait-title h2 {
    color: #333;
  }
  
  #about .col-12.col-lg-8 {
    padding-top: 30px !important;
  }
  
  .network-icon li:hover {
    transform: scale(1.05);
  }
  
  .home-section:first-of-type {
    padding: 40px 0 40px 0;
  }
  
  .home-section:not(:first-of-type) {
    /* padding: 25px 0 10px 0;  */  /* Take this off when I get rid of first page*/
    padding: 50px 0 50px 0; 

  }
  
  /* this erases the margin-bottom for h1 */
  
  .home-section.wg-pages .section-heading h1 {
    margin: 0 0 0 0;
  }
  
  /* this is the section subtitle */
  
  .home-section.wg-pages .section-heading p {
    margin-top: 0;
    margin-bottom: 1rem;
    /* text-transform: uppercase; */
    letter-spacing: .08em;
  } 

.dark .home-section:nth-of-type(n) {
	background-color: #282a36;
}

/* nav */

.navbar-light .navbar-nav>.nav-item>.nav-link,
.navbar-light .navbar-nav>.nav-item>.nav-link:focus,
.navbar-light .navbar-nav>.nav-item>.nav-link:hover,
.navbar-light .navbar-nav>.nav-item>.nav-link:active {
  font-weight: 700;
}

.navbar-light .navbar-nav > li.nav-item > a.active, 
.navbar-light .navbar-nav > li.nav-item > a.active:focus, 
.navbar-light .navbar-nav > li.nav-item > a.active:hover {
  font-weight: 700;
  transition: color .2s ease;
}

.navbar-light {
  box-shadow: none;
  letter-spacing: .08em;
}

.navbar-nav {
  border-bottom: 4px solid #e65247;
}

.navbar-brand {
  font-weight: 700;
  letter-spacing: .08em;
}

.navbar-light .navbar-brand:focus, 
.navbar-light .navbar-brand:hover {
  color: #e65247;
} 


.page-link {
	color: #e13d3d;
	background-color: #fbf9f4;
	border: 1px solid #e13d3d;
  border-radius: 0px; /*undo rounded corners*/

}

.page-link:hover {
	color: #fff;
	background-color: #e13d3d;
	border-color: #e13d3d;
}

.page-item:first-child .page-link {
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;
}

.page-item:last-child .page-link {
	border-top-right-radius: 0rem;
	border-bottom-right-radius: 0rem;
}



img {
	margin-bottom: 1.5rem;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

